body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
    text-align: center;
}

.student-card {
    background-color: white;
    margin: 10px auto;
    padding: 15px;
    width: 300px;
    border-radius: 6px;
}
